
<div class="row">
	<div class="col-md-8">
		<h1> User Signup Form </h1>
		<form action="/user/create" method="POST">
			<div class="form-group">
			    <label>Name</label>
			    <input type="text" name="name" class="form-control" placeholder="Your name">
			    <%= flash.err.name %>
			</div>
			<div class="form-group">
			    <label>Title</label>
			    <input type="text" name="title" class="form-control" placeholder="Your title">
			</div>
			<div class="form-group">
			    <label>Email</label>
			    <input type="text" name="email" class="form-control" placeholder="Your email">
			    <% Object.keys(flash.err.email).forEach(function(error){ %>
					<%= flash.err.email[error] %><br/>
				<% }) %>
			</div>
			<div class="form-group">
			    <label>Password</label>
			    <input type="password" name="password" class="form-control" placeholder="Password">
			</div>
			<div class="form-group">
			    <label>Confirmation password</label>
			    <input type="password" name="confirmation" class="form-control" placeholder="Confirmation password">
			</div>
			<input type='hidden' name='_csrf' value='<%= _csrf %>'>
			<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create account">
		</form>
	</div>
</div>